@color-white : #ffffff;

.navbar-white {
	background-color : @color-white;
	border-color: @color-white;
	-webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
}